<div *ngIf="currentWorkspace$ | async; else workspaceNotSelected" class="h-100">
  <app-board-header
    [currentWorkspace$]="currentWorkspace$"
    [currentProject$]="currentProject$"
  ></app-board-header>
  <!-- <nz-alert
    *ngIf="issuesError$ | async as errorMsg"
    nzType="error"
    nzMessage="Issues could not be loaded"
    [nzDescription]="errorMsg"
    nzShowIcon
    nzCloseable
  ></nz-alert> -->
  <!-- <app-board-filter [assignedUsers$]="assignees$"></app-board-filter> -->
  <app-board-kanban></app-board-kanban>
  <!-- <app-workspace-list-page></app-workspace-list-page> -->
</div>

<ng-template #workspaceNotSelected>
  <!-- <project-not-selected></project-not-selected> -->
  <app-workspace-not-selected></app-workspace-not-selected>
</ng-template>
